@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  font-family: Roboto Condensed;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--mui-palette-background-main);
  height: 100%;
}

#root {
  height: 100%;
}

.utilitiesBar {
  height: 3rem;
  background-color: var(--mui-palette-background-main);
  border-bottom: 1px solid var(--mui-palette-text-light);
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.logoContainer {
  height: fit-content;
}

.mainScreen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.splashScreen {
  height: 100vh;
  width: 100vw;
}

.mainLogoImg {
  color: var(--mui-palette-text-light);
  height: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: 1500ms ease 0s 1 popIn;
}

.hidden {
  visibility: 0;
}

.notHidden {
  visibility: 1;
}

.boxedLogo {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.loadingAnimation {
  position: relative;
  margin: auto;
  display: flex;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pointer:hover {
  cursor: pointer;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: none;
}

.sidebar {
  width: 18rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 0 0 auto;
}

.userMenuModal {
  color: var(--mui-palette-text-light);
  min-width: 12rem;
  background-color: var(--mui-palette-background-light);
}

.voiceConnected {
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  color: white;
  border: 1px solid var(--mui-palette-background-light);
  background: linear-gradient(200deg, var(--mui-palette-background-main) 10%, var(--mui-palette-background-main) 20%, var(--mui-palette-background-light) 100%);
  box-shadow: 0 0 .3rem .1rem var(--mui-palette-background-dark);
  border-radius: 10px;
  padding: 5px;
}

.voiceConnected p {
  line-height: normal;
  display: inline;
  vertical-align: middle;
}

.modalDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settingsModalSubDiv {
  background-color: var(--mui-palette-background-dark);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.screenshareModalSubdiv {
  background-color: var(--mui-palette-background-dark);
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.screenShareOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 15rem;
  margin: auto;
  padding: 1rem;
  border-radius: .5rem;
}

.screenShareOption:hover {
  background-color: var(--mui-palette-background-light);
  cursor: pointer;
}

.screenShareOption p {
  padding-bottom: 1rem;
  text-align: center;
}

.screenShareThumbnail {
  margin-top: 1rem;
  max-width: 100%;
}

.rotating {
  animation: rotating 2s ease-in-out infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    animation-delay: 1.5s;
    opacity: 1;
  }
}