.chatControls {
  margin-top: 0.5rem;
}

.chatInputContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--mui-palette-text-main);
}

.chatInputText {
  position: relative;
  background-color: var(--mui-palette-background-dark);
  font-size: 1rem;
  font-family: inherit;
  min-height: 1.5rem;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  color: var(--mui-palette-text-main);
  text-align: left;
  /* max-width: calc(100% - 3rem); */
  line-break: anywhere;
  padding: 0.8rem;
  height: fit-content;
}

.chatInputText:focus {
  outline: none;
}

.chatInputText .inlineElement {
  display: flex;
  height: fit-content;
  width: fit-content;
}

/* make img same size as text */
.chatInputText img {
  width: 1.3rem !important;
  height: 1.3rem !important;
  display: inline-block;
  margin: .1rem
}

/* put this element at end of parent div */
.messageBoxButtons {
  position: relative;
  top: 1.5rem;
}

.chatboxContent {
  display: flex;
}

.chatboxContent img {
  width: 1.3rem !important;
  height: 1.3rem !important;
  display: inline-block;
}