/* animate breathing effect and add pulse white shadow circular including the container */
@keyframes breathing {
  0% {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  60% {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0);
  }

  100% {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* animate size breathing sync with breathing anim */
@keyframes breathingSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}