.roomBtn {
  height: 3rem;
  width: 13rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Roboto Condensed;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px var(--mui-palette-background-main) solid;
  background-color: var(--mui-palette-room-main);
  color: var(--mui-palette-text-light);
  cursor: pointer;
}

.roomBtn:hover {
  border: 1px var(--mui-palette-text-light) solid;
}

.roomTitleContainer {
  padding: 0 !important;
  margin: auto !important;
  width: fit-content;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: left;
  margin-top: 1rem;
  display: flex !important;
  color: var(--mui-palette-text-light);
  max-width: 15% !important;
  font-size: .8rem;
}

.roomDescriptionContainer {
  margin: auto !important;
  width: fit-content;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: left;
  margin-top: 1rem;
  display: flex !important;
  color: var(--mui-palette-text-light);
  max-width: 100% !important;
  font-size: .7rem;
}

.iconsContainer {
  padding: 0 !important;
  margin: auto !important;
  width: 100%;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-top: 1rem;
  display: flex !important;
  color: var(--mui-palette-text-light);
  max-width: 100% !important;
}

.iconsContainer svg {
  margin: 0 0 0 0.4rem;
  cursor: pointer;
  font-size: 1.8rem;
  padding: calc(0.5rem - 1px);
}