.roomContent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 90%;
}

.roomsContainer {
  width: 100%;
  height: 0;
  margin: 0 auto;
  flex: .98 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: show;
  overflow-x: hidden;
}

.secondRoom {
  background-color: var(--chat-background-color);
  border-radius: 0 .3rem .3rem 0;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-right: .65rem;
}

.secondRoom:hover {
  /* border-inline-end: 2px solid var(--color3); */
  box-shadow: .2rem 0 .3rem .5px var(--color3);
  transition: all .2s ease-in-out;
}

.SecondRoomName {
  color: var(--color3)
}

.SecondRoomUsers {
  display: flex;
  flex-direction: row;
  /* margin: 0 .5rem .5rem 0; */
}

.room {
  background-color: var(--chat-background-color);
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
  margin-bottom: 0.5rem;
  box-shadow: .3rem 0 .3rem .1rem var(--color3);
  transition: all .1s ease-in-out;
  margin-right: .75rem;
}

.roomName {
  padding-top: .5rem;
  /* margin-bottom: 1rem; */
  /* margin-top: 0.5rem; */
  color: var(--color3)
}

.roomUsers {
  display: flex;
  flex-direction: column;
  /* margin-left: 0.5rem; */
  align-items: center;
}

.roomControl {
  /* position: fixed; */
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.roomBtn {
  height: 3rem;
  width: 13rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Roboto Condensed;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px var(--main-bg-color) solid;
  background-color: var(--color1);
  color: var(--color3);
  cursor: pointer;
}

.roomBtn:hover {
  border: 1px var(--color3) solid;
}

.roomTitleContainer {
  padding: 0 !important;
  margin: auto !important;
  width: fit-content;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: left;
  margin-top: 1rem;
  display: flex !important;
  color: white;
  max-width: 15% !important;
  font-size: 1.2rem;
}

.roomDescriptionContainer {
  margin: auto !important;
  width: fit-content;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: left;
  margin-top: 1rem;
  display: flex !important;
  color: white;
  max-width: 100% !important;
  font-size: .8rem;
}

.iconsContainer {
  padding: 0 !important;
  margin: auto !important;
  width: 100%;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-top: 1rem;
  display: flex !important;
  color: white;
  max-width: 100% !important;
}

.iconsContainer svg {
  margin: 0 0 0 0.4rem;
  cursor: pointer;
  font-size: 1.8rem;
  padding: calc(0.5rem - 1px);
}