::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--mui-palette-text-main);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mui-palette-messages-main);
}